<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAf0BbK52uuRK-ozHLHseMiOIwjEE77esk</string>
	<key>GCM_SENDER_ID</key>
	<string>356314173540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kanafghan.woor</string>
	<key>PROJECT_ID</key>
	<string>divine-ceremony-403312</string>
	<key>STORAGE_BUCKET</key>
	<string>divine-ceremony-403312.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356314173540:ios:e4d2fcf8d375133a788f71</string>
</dict>
</plist>